<p>The project ships with a minimal CSS
file: <code>css/help.css</code> that needs som cleaning up and to have
its classes documented.</p>

<p>Breakout-box (<code>bob</code>) example:</p>

<pre>
&lt;p class="bob"&gt;Donec &hellip;&lt;/p&gt;
</pre>

<p>Renders as:</p>

<p class="bob">Donec ac sapien et metus rutrum scelerisque posuere eu
augue. Vivamus libero ipsum, imperdiet sed sollic tu din, suscipit
volutpat sapien.</p>


<p>[TODO]</p>


