<p>This is an example of a set of help page created using the
<strong>Advanced help</strong> framework.  If you have the appropriate
permissions, you may view the contents of this and other HTML help
files.</p>

<p><strong>Note:</strong> The module has still a number of regressions
compared to the Drupal 7 versions. This are tracked in this issue in
the project's issue queue:
<a href="https://www.drupal.org/project/advanced_help/issues/3366294">[meta] Regressions vis-à-vis Drupal 7</a>.
Sections referring to such regressions are marked "[D7 regression]".
These are kept as placeholders, but the features they describe are not
yet available.</p>

<p>To view it as a book, navigate to <span class="nav">Manage » Help »
Advanced help » Advanced help example</span>.</p>

<p>To view help shown in popups navigate to <span class="nav">Manage »
Example help</span> and [D7 regression ] and click on the question
mark icons.</p>

<p>[D7 regression] To try out the search features, first enable
advanced help search, then run cron to index the help pages.</p>

<p>To see the line break filter in action, check out
on <a href="&topic:help_example/lorem&">Lorem ipsum</a>.</p>
